.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #373a3c;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #e7ecf1;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e7ecf1;
}

.table tbody + tbody {
    border-top: 2px solid #e7ecf1;
}

.table-sm th,
.table-sm td {
    padding: 0.3rem;
}

.table-bordered {
    border: 1px solid #e7ecf1;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #e7ecf1;
}

.table-bordered thead th,
.table-bordered thead td {
    border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
    border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fbfcfd;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #ffffff;
}

.table-hover tbody tr:hover {
    color: #373a3c;
    background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #c3dbf7;
}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
    border-color: #8fbdf0;
}

.table-hover .table-primary:hover {
    background-color: #adcef4;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: #adcef4;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
    background-color: #c7c8c8;
}

.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody + tbody {
    border-color: #97999a;
}

.table-hover .table-secondary:hover {
    background-color: #babbbb;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
    background-color: #babbbb;
}

.table-success,
.table-success > th,
.table-success > td {
    background-color: #c9ebbe;
}

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody + tbody {
    border-color: #9bd987;
}

.table-hover .table-success:hover {
    background-color: #b9e5ab;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
    background-color: #b9e5ab;
}

.table-info,
.table-info > th,
.table-info > td {
    background-color: #e2cfec;
}

.table-info th,
.table-info td,
.table-info thead th,
.table-info tbody + tbody {
    border-color: #caa6dc;
}

.table-hover .table-info:hover {
    background-color: #d7bde5;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
    background-color: #d7bde5;
}

.table-warning,
.table-warning > th,
.table-warning > td {
    background-color: #ffd8be;
}

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody + tbody {
    border-color: #ffb787;
}

.table-hover .table-warning:hover {
    background-color: #ffc9a5;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
    background-color: #ffc9a5;
}

.table-danger,
.table-danger > th,
.table-danger > td {
    background-color: #ffb8c8;
}

.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody + tbody {
    border-color: #ff7a98;
}

.table-hover .table-danger:hover {
    background-color: #ff9fb4;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
    background-color: #ff9fb4;
}

.table-light,
.table-light > th,
.table-light > td {
    background-color: #fdfdfe;
}

.table-light th,
.table-light td,
.table-light thead th,
.table-light tbody + tbody {
    border-color: #fbfcfc;
}

.table-hover .table-light:hover {
    background-color: #ececf6;
}

.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
    background-color: #ececf6;
}

.table-dark,
.table-dark > th,
.table-dark > td {
    background-color: #c7c8c8;
}

.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody + tbody {
    border-color: #97999a;
}

.table-hover .table-dark:hover {
    background-color: #babbbb;
}

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
    background-color: #babbbb;
}

.table-active,
.table-active > th,
.table-active > td {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
    background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-dark th {
    color: #fff;
    background-color: #373a3c;
    border-color: #494d50;
}

.table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.table-dark {
    color: #fff;
    background-color: #373a3c;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
    border-color: #494d50;
}

.table-dark.table-bordered {
    border: 0;
}

.table-dark.table-hover tbody tr:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.075);
}

@media (max-width: 575.98px) {
    .table-responsive-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .table-responsive-sm > .table-bordered {
        border: 0;
    }
}

@media (max-width: 767.98px) {
    .table-responsive-md {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .table-responsive-md > .table-bordered {
        border: 0;
    }
}

@media (max-width: 991.98px) {
    .table-responsive-lg {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .table-responsive-lg > .table-bordered {
        border: 0;
    }
}

@media (max-width: 1199.98px) {
    .table-responsive-xl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .table-responsive-xl > .table-bordered {
        border: 0;
    }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table-responsive > .table-bordered {
    border: 0;
}

.table th, .table thead th {
    border: 1px solid #dee2e6;
    border-top: 2px solid #f4f5f8;
    border-bottom: 2px solid #f4f5f8;
}

